<% provide(:title, @scraping.name) %>

<h2>求人詳細ページ</h2>

<div class="">
  <aside class="">
    <section class="">
        <p><%= @scraping.name %></p>
        <p><%= @scraping.location %></p>
        <p><%= @scraping.salary %></p>
        <p><%= @scraping.holiday %></p>

        <a href="/applies/new" style="color: red;">応募ページへ</a>
        
    </section>
  </aside>
</div>