@import "../../foundation/variable.scss";

.p-companies {
    h2 {
        margin: 40px 0 20px;
    }
    .p-companies__table {
        width: 100%;
        background-color: #ffffff;
        border: 1px solid $light_gray;
        th {
            width: calc(100% / 3);
        }
        
        td {
            border-right: 1px solid $light_gray;
            padding: 30px 20px;
        }
    }
}
.p-companies__job {
    table {
        background-color: #ffffff;
        margin: 50px 0;
        a {
            color: $linkColor;
        }
        thead {
            th {
                padding: 20px 0;
                font-size: 16px;
            }
        }
        tbody {
            font-size: 14px;
            text-align: center;
            th {
                width: 350px;
            }
            td {
                width: 120px;
                padding: 20px 0;
            }
                
            
            tr {
                &:nth-child(2n-1) {
                    background-color: $light_gray;
                }
            }
        }
    }
    
}