@import "../../foundation/variable.scss";

.p-result__text {
    font-size: 16px;
    margin: 40px 0;
}

.p-result__item {
    height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $mainColor;

    &:first-child {
        border-top: 1px solid $mainColor;
    }
    h2 {
        color: #0000FF;
        font-size: 18px;
    }
    h2, p {
        margin-bottom: 8px;
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: #333333;
        font-size: 14px;
        text-decoration: none;
    }
    
}