@import "../../foundation/variable.scss";

.p-work-location {
    .p-work-location__list {
        display: flex;
        li {
            width: calc((100% - 20px) / 6);
            padding: 60px 0;
            text-align: center;
            color: #ffffff;
    
            background-color: $mainColor;
            &:nth-child(-n+5) {
                margin-right: 4px;
            }

            span {
                display: block;
                font-size: 14px;
                margin-top: 6px;
            }
    
        }
    }
    .p-work-location__item {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        li {
            margin-right: 16px;
            text-align: center;
            a {
                width: 100%;
                border: 1px solid;
                padding: 4px;
                font-size: 12px;
                margin-bottom: 10px;
                display: block;
                color: #333333;
                border-color: #eeeeee;
            }
        }
    }
}
.p-work-location__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px;
    dl {
        width: 50%;
        dt {
            display: block;
            margin: 30px 0 10px;
            font-size: 16px;
        }
        dd {
            display: inline-block;
            font-size: 14px;
        }
    }
}