<% provide(:title, @user.name) %>
<div class="">
  <aside class="">
    <section class="">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>