@import "../../foundation/variable.scss";

.c-btn__return {
    display: block;
    position: relative;
    padding-left: 14px;
    &::before {
        content: '';
        width: 6px;
        height: 6px;
        border: 0px;
        border-top: solid 2px $mainColor;
        border-right: solid 2px $mainColor;
        -ms-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        position: absolute;
        top: 25%;
        left: 0px;
        z-index: 10;
    }
}
.c-btn__search {
    background-color: #2484D3;
    color: #ffffff;
    padding: 0 20px;
    height: 36px;
    border: none;
    border-radius: 10%;
}
.c-btn__register {
    width: 300px;
    background-color: $mainColor;
    color: #ffffff;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}
.c-btn__job-create {
    font-size: 16px;
    padding: 10px 30px;
    background-color: $mainColor;
}
.c-btn__to-application {
    display: block;
    background-color: $applicationColor;
    width: 300px;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: bold;
}