<footer class="l-footer">
    <div class="l-footer__wrapper">
        <ul>
            <li><a href="#">詳細検索</a></li>
            <li><a href="#">ヘルプ</a></li>
            <li><a href="#">利用規約</a></li>
            <li><a href="#">個人情報保護方針</a></li>
            <li><a href="#">運営情報</a></li>
            <li><a href="#">企業向けメニュー</a></li>
        </ul>

        <p>ボックス（c）nedan.com, Inc. All Rights Reserved.</p>
    </div>
    
</footer>