<section class="p-slider">
  <a href="" class="p-slider__text">お知らせ</a>
  
  <ul class="p-slider__list">
    <% @scraping.last(9).each do |data| %>
      
      <li class="p-slider__item">
        <a href="/scrapings/<%= data.id %>">
          <%= image_tag data.image %>
          <p><%= data.title %></p>
        </a>
      </li>

    <% end %>
    
  </ul>
</section>