<section class="p-slider">
  <a href="" class="p-slider__text">お知らせ</a>
  
  <ul class="p-slider__list">
    <% @count = 0 %>

    <% @scraping.each do |data| %>

      <% if data.company_id && @count < 20 %>
        <% @count += 1 %>

        <li class="p-slider__item">
          <a href="/scrapings/<%= data.id %>">
            <%= image_tag data.image %>
            <p><%= data.title %></p>
          </a>
        </li>
        
      <% end %>

    <% end %>
    
  </ul>
</section>