<%= @company.id %><br>
<%= @company.email %><br><br>

<style>
a {
    color: black!important;
}
</style>
<%= link_to "求人作成", new_scraping_path(id: @company) %>

<% @company.applies.each do |apply| %>
    <p><%= apply.email %></p>
<% end %>

