@import "../foundation/variable.scss";

.l-header {
    .l-header-top {
        font-size: 12px;
        background-color: $baseColor1;
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
        h1 {
            font-size: 18px;
        }
    }

    .l-header-bottom {
        background-color: $mainColor;
        div {
            display: flex;
            justify-content: space-between;
            width: 960px;
            margin: 0 auto;
            font-size: 12px;
            padding: 0 80px;
        }
        
        img {
            border: 1px solid;
            width: 100px;
            height: 50px;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                margin: 0 6px;
            }
        }
    }

    .l-header-nav {
        background-color: $baseColor2;
        ul {
            display: flex;
            justify-content: center;
            width: 960px;
            margin: 0 auto;
            text-align: center;
            li {
                padding: 10px 0;
                border-right: 1px solid #ffffff;
                font-size: 16px;
                width: 25%;
                &:nth-child(1) {
                    border-left: 1px solid #ffffff;
                }
                a {
                    color: #ffffff;
                }
            }
        }
    }
}